*~
\#*
.#*
*.lock
.lake
lake-manifest.json
build
!/src/lake/Lake/Build
GPATH
GRTAGS
GSYMS
GTAGS
.projectile
.lean_options
.vs
compile_commands.json
*.idea
tasks.json
settings.json
.gdb_history
.vscode/*
!.vscode/settings.json
*.produced.out
CMakeSettings.json
CppProperties.json
result
fwIn.txt
fwOut.txt
wdErr.txt
wdIn.txt
wdOut.txt
