*~
.lean_trace
*.produced.out
*.md.lua
*.md.lean
*.olean
*.clean
*.ilean
*.d
*.lock
a.out
build
GPATH
GRTAGS
GSYMS
GTAGS
Makefile
*.cmake
CMakeFiles/
.projectile
.coveralls.yml
.lean_options
doc/html
make.deps
src/emacs/dependencies
compile_commands.json