# Tests creating temporary output files should prefix them with `_tmp_` so they're all
# covered by this one pattern. The tests delete them on success; this entry catches stragglers
# from failed runs.
/_tmp_*
