name: Check awaiting-mathlib label

on:
  merge_group:
  pull_request:
    types: [opened, labeled]

jobs:
  check-pr-body:
    runs-on: ubuntu-latest
    steps:
      - name: Check awaiting-mathlib label
        if: github.event_name == 'pull_request'
        uses: actions/github-script@v7
        with:
          script: |
            const { labels } = context.payload.pull_request;
            if (labels.some(label => label.name == "awaiting-mathlib") && !labels.some(label => label.name == "builds-mathlib")) {
              core.setFailed('PR is marked "awaiting-mathlib" but "builds-mathlib" label has not been applied yet by the bot');
            }