name: 'Label stale PRs'
on:
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch:

permissions:
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          days-before-stale: -1
          days-before-pr-stale: 30
          days-before-close: -1
          stale-pr-label: 'stale'
          only-labels: 'awaiting-author'
